@import '~antd/dist/antd.css';


.App {
  text-align: left;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.App .container  {
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 auto;
}

.App header {
  height: 32px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #330033;
}

.App header .title a {
  font-size: 15pt; 
  color: #fff;
  vertical-align: bottom;
  font-weight: bold;
}
.App h2 { padding: 0; margin: 0; }


.App .tower {
  height: calc( 100vh - 32px);
  background-image: url('/tower_of_tokyo328_o50_b300.jpg');
  background-attachment: fixed;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

